{% extends 'base.html' %}

{% block titulo %} Lista de los {{total}} arrendatarios almacenados. {% endblock %}


{% block contenido %}
	    <dl>
		{% for row in host %}
		    <h4>{{row.name}}:</h4>
            <img src="{{row.image}}" alt="{{row.name}}" style="width:100px; height:auto;">
            <p>Localización: {{row.location}}</p>
		{% endfor %}
		</dl>
        <ul class="uk-pagination uk-flex-center" uk-margin>
            {% if pagina != 1 %}
            <li><a href="/hosts/1"><span uk-pagination-previous></span><span uk-pagination-previous></span></a></li>
            <li><a href="/hosts/{{pagina|add:'-1'}}"><span uk-pagination-previous></span></a></li>
            {% endif %}
            {% for i in paginas  %}
                {% if i == pagina %}
                    <li class="uk-active"><a href="/hosts/{{i}}">{{i}}</a></li>
                {% else %}
                    <li><a href="/hosts/{{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
            {% if pagina != total_paginas %}
                <li><a href="/hosts/{{pagina|add:'1'}}"><span uk-pagination-next></span></a></li>
                <li><a href="/hosts/{{total_paginas}}"><span uk-pagination-next></span><span uk-pagination-next></span></a></li>
            {% endif %}
        </ul> 
{% endblock %}