    {% extends 'base.html' %}

    {% block titulo %} Información del arrendatario: {{ host.name }} {% endblock %}

    {% block contenido %}
    <h3>Detalles</h3>
    <dl>
        <h4>
            Nombre: {{ host.name }}<br>
            <p>Superhost: {{ host.superhost }}<br>
            Ubicación: {{ host.location }}<br>
            <img src="{{ host.image }}" alt="Imagen del host">
        </h4>
    </dl>
    <hr>

    <h3>Alojamientos</h3>
    <dl>
		{% for row in listing %}
		    <a href="/listing/{{row.listing_id}}"><h4>{{row.name}}:</h4></a>
            <p>Precio: {{row.price}}$, Número de habitaciones: {{row.bedrooms}}, Número de aseos: {{row.bathrooms}}</p>
		{% endfor %}
		</dl>
    <hr>

    {% endblock %}
