    {% extends 'base.html' %}

    {% block titulo %} Información del alojamiento: {{ listing.name }} {% endblock %}

    {% block contenido %}
    <h3>Detalles</h3>
    <dl>
        <h4>
            Precio: {{ listing.price }}<br>
            Tipo de propiedad: {{ listing.property_type }}<br>
            Aforo máximo: {{ listing.accommodates }}<br>
            Número de habitaciones: {{ listing.bedrooms }}<br>
            Número de aseos: {{ listing.bathrooms }}<br>
            Disponibilidad durante el año: {{ listing.availability_365 }}<br>
            Precio semanal: {{ listing.weekly_price }}<br>
            Cuota por el servicio de limpieza: {{ listing.cleaning_fee }}
        </h4>
    </dl>
    <hr>

    <h3>Arrendatario</h3>
    <dl>
        {% for h in host %}
            <a href="/amenity/{{h.name}}"><h4>Nombre: {{ h.name }} </h4>{{ amenity.name }}</a>
            <p>Superhost: {{ h.superhost }}</p>
            <p>Ubicación: {{ h.location }}</p>
            <img src="{{ h.image }}" alt="Imagen del host">
        {% endfor %}
    </dl>
    <hr>

    <h3>Servicios</h3>
    <dl>
        {% for amenity in amenities %}
            {{ amenity.name }}, 
        {% endfor %}
    </dl>
    <hr>

    <h3>Vecindario</h3>
    <dl>
        <a href="/neighborhood/{{h.name}}"><h4>{{ neighborhood.name }}</h4>
    </dl>
    <hr>

    <h3>Reseñas</h3>
    <dl>
        {% for row in review %}
            <p>Fecha: {{ row.date }}, Comentario: {{ row.comments }}</p>
        {% endfor %}
    </dl> 
    {% endblock %}
