{% load static %} 

<!DOCTYPE html>
<html lang='es'>
  <head>
	<meta charset='utf-8'>
		<link rel="stylesheet" href="{{STATIC_URL}}css/uikit.min.css" />
        <script src="{{STATIC_URL}}js/jquery.min.js"></script>
        <script src="{{STATIC_URL}}js/uikit.min.js"></script>
  </head>
  <body>
  

	<h1>Python Django y acceso a Neo4j con Neomodel</h1>
    <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Inicio</a>
            </li>
            <li><a href="#">Listados</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/listings/1/">Lista de Alojamientos</a></li>
                        <li><a href="/hosts/1/">Lista de Arrendatarios</a></li>
                        <li><a href="/neighborhoods/1/">Lista de Vecindarios</a></li>
                        <li><a href="/amenities/1/">Lista de Servicios</a></li>
                        <li><a href="/users/1/">Lista de Usuarios</a></li>
                        <li><a href="/reviews/1/">Lista de Reseñas</a></li>
                    </ul>
                </div>
            </li>
           <li><a href="#">Búsquedas</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
						<li><a href="/mostRated">Alojamiento más valorado</a></li>
						<li><a href="/filterByAmenities">Filtrar por servicios</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</nav>
	    

		<hr>
 		
 		<h1 >{% block titulo %} {% endblock %}</h1>

		{% block contenido %} {% endblock %}
  </body>
</html>