{% extends 'base.html' %}

{% block titulo %}Selecciona 3 servicios que buscas en tu alojamiento{% endblock %}

{% block contenido %}
<form id="amenityForm">
    <label for="amenity1">Amenity 1:</label>
    <select id="amenity1" name="amenity1">
        <option value="">---</option>
        {% for a in amenities %}
            <option value="{{a}}">{{a}}</option>
        {% endfor %}
    </select>

    <label for="amenity2">Amenity 2:</label>
    <select id="amenity2" name="amenity2">
        <option value="">---</option>
        {% for a in amenities %}
            <option value="{{a}}">{{a}}</option>
        {% endfor %}
    </select>

    <label for="amenity3">Amenity 3:</label>
    <select id="amenity3" name="amenity3">
        <option value="">---</option>
        {% for a in amenities %}
            <option value="{{a}}">{{a}}</option>
        {% endfor %}
    </select>

    <button type="button" onclick="redirectToResults()">Search</button>
</form>

<script>
    function redirectToResults() {
        var amenity1 = document.getElementById('amenity1').value;
        var amenity2 = document.getElementById('amenity2').value;
        var amenity3 = document.getElementById('amenity3').value;
        window.location.href = `/results?amenity1=${amenity1}&amenity2=${amenity2}&amenity3=${amenity3}`;
    }
</script>

{% endblock %}
