{% extends 'base.html' %}

{% block titulo %} 
  Autor 
{% endblock %}



{% block contenido %} 
  <h3>Joaquín Arregui Díaz y Jose Luis Cobo Ariza</h3>

  <hr>
        <h3>EJERCICIO DE DJANGO </h3>
    <p>
      Se ha creado una aplicación web basada en listados de alojamientos de AirBNB, consiste en las siguientes clases:
      <br>
      a)	Alojamiento: IdAlojamiento, Nombre, Precio, TipoDePropiedad, Aforo, Habitaciones, Aseos, Disponibilidad365, PrecioSemanal, CuotaLimpieza.
      <br>
      b)	Arrendatario: IdArrendatario, Nombre, Localización, Superhost, Imagen.
      <br>
      c)	Vecindario: IdVecindario, Nombre.
      <br>
      d)	Servicio: Nombre.
      <br>
      e)	Usuario: IdUsuario, Nombre.
      <br>
      f)	Reseña: IdReseña, Fecha, Comentario.
      <br>
    </p>

	<hr>

{% endblock %}